form.main-form{
    margin: 0 1%;
}

form.main-form > div{
    margin: 1em;
}

form.main-form fieldset{
    border:1px solid #ccc;
    max-width:350px;
}

form.main-form legend{
    margin-left:0.5em;
    padding: 0.2em 0.5em;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}

form.main-form input:required{
    border:1.25px solid red;
}

form.main-form input[type="submit"]{
    border-radius:4px;
    border:1px solid #ccc;
    padding:0.3em 0.5em;
}
.container300 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.container600 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  max-width:1200px;
  margin:20px auto;
  clear:both;
    background-color: white;
    overflow: auto;
}

.w3-container p {
  text-align: left;  
}
.w3-container footer {
  text-align: left;  
} 
.div-center {
    text-align: center;
}
/* colors for flash messages */
.error{
  background-color:red;
}

.success{
  background-color:blue;
  }
.success p, .success h3 {
  color: white;
}

.warning{
  background-color:yellow;
}

footer button, 
footer input[type="button"], 
footer input[type="submit"] 
 {
  color: red;
}

div.login {
    margin-left: 30px;
}
