{% extends "base.html" %} 
{% block content %} 
        <h3>Vintage Motocross Bikes</h3> 
  <p>Motocross began in the United Kingdom at the turn of the century. In the early 1900s, automotive clubs hosted time trials, which turned into off-road versions called “Scrambles.” The very first official motorcycle Scramble went down in 1924, presumably with wool pants and a lot of British mud flying. For decades, the sport evolved lap by lap as bikes became more powerful and tires improved. There is no argument that the UK invented the sport, but to get to the real heart of modern motocross racing, you have to follow it across the pond to America. This is where MX truly took flight, if only for short, throttle-twisting durations between berms and whoops.</p>
  <h4>MX Jumps Across the Pond</h4>
  <p>Contrary to popular opinion, Edison Dye didn’t bring motocross to America. Motocross—the sport of off-road motorcycle racing held on enclosed off-road circuits—had been officially sanctioned by the American Motorcyclist Association as early as 1959. He did, however, have an ulterior motive when he attempted to popularize it. Dye worked for Husqvarna motorcycles and simply wanted to sell more of their lightweight motorcycles to Americans. It worked well. Whereas the scrambles of yesteryear had been loose and fast bomb runs worthy of the name “scramble,” European motocross racing (or MX has it is now often called) was athletic and dynamic, racers jockeying in a manner similar to car racing. In February 1966, at a desert race in Imperial Valley, California, Dye showed Americans what two-stroked bikes were capable of. Fast. By the end of the year, he brought world champion Torsten Hallman to America. He destroyed the competition. Spectators loved it.</p>

<div class="flexible">
<div style="max-width:300px">
    <img src="https://picsum.photos/id/175/300/300" />
  <br>
  <br>
    </div>
  </div>

{% endblock %} 
