<!-- templates/sign_up.html -->
{% extends 'base.html' %}
{% block content %}
    <h3>S'il vous plait enregistrez vous</h3>
<p>If you'd like to add, edit or delete recipes, please sign up below.</p>
<p>Don't forget to write down your password, as it will be unrecoverable.</p>
<p>bon appetit!</p>
<div class="login">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            <div>{{ form.first_name.label }}:</div> 
            <div>{{ form.first_name }}</div> <br>
        </div>
        <div>
            <div>{{ form.last_name.label }}:</div> 
            <div>{{ form.last_name }}</div> <br>
        </div>
        <div>
            <div>{{ form.email.label }}:</div>
            <div>{{ form.email }}</div> <br>
        </div>
        <div>
            <div>{{ form.password.label }}:</div>
            <div>{{ form.password }}</div> <br>
        </div>
        <div>
            <div>{{ form.confirm_password.label }}: </div>
                <div>{{ form.confirm_password }}</div> <br>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
